@()
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Calculations</title>
</head>

<body>
  <h1> Welcome to Environmental Calculations Pannel</h1>
  
  <h3>  Use the following end points: </h3> 
  <p>  GET /CO2Emissions  {For CO2 emission predection } </p>
  <p>  GET /Methane       {For Methane emission prediction } </p>
  <p>  GET /NOEmissions   {For Nitrous Oxide emission prediction } </p>
  <p>  GET /PolarIce      {To see Polar Ice Melt Info} </p>
  <p>  GET /Temperature   {To See Temperature raise info} </p>
  
</body>

</html>